<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>


    <application>
        <service
            android:name="com.barikoi.barikoitrace.service.BarikoiTraceLocationService"
            android:foregroundServiceType="location|dataSync"
            android:enabled="true"
            android:exported="true">

        </service>
        <service
            android:name="com.barikoi.barikoitrace.service.BarikoiTraceService"
            android:enabled="true"
            android:exported="true">

        </service>
        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="location"
            tools:node="merge" />
        <receiver
            android:name="com.barikoi.barikoitrace.event.BootEventReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="999" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
